
*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.first-screen{
    background-color: #EEEFF1;
    padding-left: 400px;
    padding-top:45px;
}

nav{
    margin-bottom: 160px;
}


ul{
    height: 18px;
}


ul li{
    float:left;
}


.first{
    color:#34547A;
}


ul li a{
    color:black;
    padding-right: 42px;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.fs-title{
    font-weight: 500;
    font-size: 48px;
    
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 45px;
    text-align: left;
}

.fs-text{
width: 540px;
left: 400px;
top: 362px;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
text-align: left;

color: #727272;
margin-bottom: 54px;
}

.fs-button{
    width: 225px;
    height: 65px;
    left: 399px;
    top: 494px;
    background: #34547A;   
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 141px;
}

.about{
    background-color: #f9f9f9;
    padding-top:112px;
}

.a-title{
    width: 403px;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    color: #000000;
    }
    
    .a-text{
    width: 540px;
    left: 690px;
    top: 892px;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #727272;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
    text-align: center;
    }

    .numbers{
        background-color: #34547A;
        padding-top: 100px;
        padding-left: 409px;
        padding-bottom:100px;
    }

    .item{
        display: inline-block;
        width: 141px;
        height: 50px;
        margin-right: 48px;
    }

    .leftimg {
        float:left; 
        margin-right: 20px;
       }

    .item_text1{
        font-weight: 500;
        font-size: 21px;
        line-height: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color:white;
    }
    .item_text2{
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color:white;
    }
  
.video{
    background-color: #EEEFF1;
    padding-top:112px;
    padding-bottom: 100px;
}

.v-title{
    width: 403px;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    color: #000000;
    }
    
    .v-text{
    width: 540px;
    left: 690px;
    top: 892px;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #727272;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
    text-align: center;
    }

    iframe{
        margin-left: 405px;
    }

.footer{
    background-color: #34547A;
    padding-top: 50px;
    padding-left: 406px;
    padding-bottom: 47px;
}

.f_name{
font-weight: 500;
font-size: 21px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.f_logo{
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-top: 15px;
}

