*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

.border{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.first-screen{
    background-color: #EEEFF1;
    padding-top:45px;
}

.menu{
    margin-bottom: 160px;
}

.m_list{
    height: 18px;
}

.m_item{
    display: inline;
}

.first{
    color:#34547A;
    padding-right: 42px;
}

.second{
    color:black;
    padding-right: 42px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.fs-title{
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-bottom: 45px;
    text-align: left;
}

.fs-text{
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #727272;
    margin-bottom: 54px;
}

.fs-button{
    width: 225px;
    height: 65px;
    background: #34547A;   
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 141px;
}

.about{
    background-color: #f9f9f9;
    padding-top:112px;
}

.a-title{
    width: 403px;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000000;
}
    
.a-text{
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
    text-align: center;
}

.numbers{
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom:100px;
}

.item{
    display: inline-block;
    width: 141px;
    height: 50px;
    margin-right: 48px;
}

.item_last{
    display: inline-block;
    width: 141px;
    height: 50px;
}


.leftimg{
    margin-right: 20px;
}

.item_text1{
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 5px;
    color:white;
    text-align: right;
}

.item_text2{
    font-size: 16px;
    line-height: 18px;
    color:white;
}
  
.video{
    background-color: #EEEFF1;
    padding-top:112px;
    padding-bottom: 100px;
}

.v-title{
    width: 403px;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000000;
    }
    
.v-text{
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
    text-align: center;
}

.footer{
    background-color: #34547A;
    padding-top: 50px;
    padding-bottom: 47px;
}

.f_name{
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
}

.f_logo{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 15px;
}

